<link href="{{ STATIC_URL }}styles/bootstrap.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}styles/index.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery-1.9.1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/bootstrap.js"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CPEs | Challange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CPEs Challenges will be held on this website.">
    <meta name="author" content="Kevin Sutardji">

    <!-- Le styles -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">CPEs Challenge</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Username">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Login</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

    	<div class="row-fluid">
    		<div class="span2">
    			{% if latest_problem_list %}
				    <h3><u>Challenges</u></h3>
				    <ul class="nav nav-list bs-docs-sidenav affix">
				    {% for problem in latest_problem_list %}
				        <li><a href="#" onclick="$('.problem-container').html('<u><b>Problem:</b></u> <br>{{problem.question}}')">CPEs Challenge {{ problem.id }}</a></li>
				    {% endfor %}
			    </ul>
				{% else %}
				    <p>No problems are available.</p>
				{% endif %}
    		</div>
      		<div class="span8">
      			<div id="challenge-title">
      				<h2>CPEs Challenge</h2>
      			</div>
	      		<div class="hero-unit problem-container">
			        <h1>Hello!</h1>
			        <p>This is the CPEs challenge website. From now on, you will be participating in the CPEs challenge with this website.</p>
			        <p><a href="#" class="btn btn-primary btn-large">Go to latest challenge &raquo;</a></p>
		      	</div>
		      	<hr>
		  	</div>
  		</div>

	      <footer>
	        <p>&copy; Computer Engineering Society 2013</p>
	      </footer>
    </div> <!-- /container -->

	<!--<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </a>
				<a href="/" class="brand club" id="logo">
					<img src="{{ STATIC_URL }}images/logo.png" id="img-logo">
					
				</a>
				<ul id="pull-left"></ul>
				<div class="nav-colapse collapse">
					<ul class="nav pull-right" id="nav-right">
						li><h5>Username: </h5><input type="text" id="username"></input></li>
						<li><h5>Password: </h5><input type="text" id="password"></input></li>
						<li><button class="btn btn-primary" type="submit" id="login-btn">Login</button></li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>-->
	<!--
	<a class="btn btn-navbar hidden" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
	<a href="/" class="club" id="logo">
		<img src="{{ STATIC_URL }}images/logo.png" id="img-logo">
	</a>
    <h3><u>CPEs Challenge</u></h3>
	<ul class="nav pull-right" id="nav-right">
		<li><h5>Username: </h5><input type="text" id="username"></input></li>
		<li><h5>Password: </h5><input type="text" id="password"></input></li>
		<li><button class="btn btn-primary" type="submit" id="login-btn">Login</button></li>
	</ul>
	-->
	<!--<div id="content">
		{% if latest_problem_list %}
		    <h3>Listed are the following CPEs challenges.</h3>
		    <ul>
		    {% for problem in latest_problem_list %}
		        <li><a href="/challenge/{{ problem.id }}/">CPEs Challenge {{ problem.id }} ({{problem.pub_date}})</a></li>
		    {% endfor %}
	    </ul>
		{% else %}
		    <p>No problems are available.</p>
		{% endif %}
	</div>
	-->